.custom-file-input {
    color: transparent;
    width: 120px;
}

.custom-file-input::-webkit-file-upload-button {
    visibility: hidden;
}

.custom-file-input::before {
    content: 'Agregar +';
    color: #039aff;
    display: inline-block;
    background: transparent;
    border: 1px solid #039aff;
    border-radius: 3px;
    padding: 8px 12px;
    outline: none;
    white-space: nowrap;
    cursor: pointer;
    text-shadow: 1px 1px #fff;
    font-weight: 700;
    font-size: 10pt;
}



.custom-file-input:active {
    outline: 0;
}

.custom-file-input:active::before {
    background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}

.space-between{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.empty{
    padding-top: 30px;
    text-align: center;
    opacity: 50%;
}

.pdf-header{
    margin-top: 20px; 
    text-align: 'center'; 
    font-size: 12px; 
    font-weight: 'bold'; 
}

.pdf-logo{
    width: 230; 
    height: 76; 
    margin: 0 auto;
}

.pdf-title{
    margin-top: 30px;
    font-size: 18px;
}
