.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-file {
  background-color: #f2f6fc;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-radius: 8px;
  padding: 8px 10px;
}

.card-file:hover {
  background-color: #cecece;
}

.headerStyle {
  background-color: #8ccaf5;
  border-radius: 0.1px;
  border: 0.5px solid blue;
}
